<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YCTBHighlyAdaptive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E68A5F2D1DB4DE9C00FCCD32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E68A5F461DB4DE9C00FCCD32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E68A5F511DB4DE9C00FCCD32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
